<h1>通知詳細</h1>
<table class="table">
  <tr>
    <th>通知タイトル</th>
    <td><%= @notice.title %></td>
  </tr>  
  <tr>
    <th>通知名</th> 
    <td><%= @notice.name %></td>
  </tr>
  <tr>
    <th>カテゴリー</th> 
    <td><%= @notice.category %></td>
  </tr>
  <tr>
    <th>詳細</th> 
    <td><%= @notice.detail %></td>
  </tr>
</table>